In [294]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [295]:
df=pd.read_csv("/Users/piyushtiwari/Desktop/mlproj/bengaluru_house_prices.csv")

In [296]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [297]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [298]:
df.shape

(13320, 9)

In [302]:
df=df.drop(columns=["area_type","balcony","availability"], axis="columns")

In [303]:
df.columns

Index(['location', 'size', 'total_sqft', 'bath', 'price'], dtype='object')

The inplace parameter in pandas functions determines whether the operation should modify the existing object (in-place) or return a new object with the changes applied. When inplace=True, the DataFrame is modified in place, and there is no need to assign the result back to a variable. If inplace=False or not specified (default), a new DataFrame with the changes is returned, and you need to assign it to a variable to capture the modified DataFrame.

In [304]:
df.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [306]:
df_encoded=pd.get_dummies(df,columns=['location'],prefix=['location'])

In [307]:
df_encoded.head()

,size,total_sqft,bath,price,location_ Anekal,location_ Banaswadi,location_ Basavangudi,location_ Bhoganhalli,location_ Devarabeesana Halli,location_ Devarachikkanahalli,...,location_rr nagar,location_sankeswari,location_sapthagiri Layout,location_sarjapura main road,location_singapura paradise,location_t.c palya,location_tc.palya,location_vinayakanagar,"location_white field,kadugodi",location_whitefiled
0,2 BHK,1056,2.0,39.07,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,4 Bedroom,2600,5.0,120.00,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,3 BHK,1440,2.0,62.00,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,3 BHK,1521,3.0,95.00,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2 BHK,1200,2.0,51.00,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [308]:
df_encoded.dropna(inplace=True)

In [309]:
df_encoded.head()

,size,total_sqft,bath,price,location_ Anekal,location_ Banaswadi,location_ Basavangudi,location_ Bhoganhalli,location_ Devarabeesana Halli,location_ Devarachikkanahalli,...,location_rr nagar,location_sankeswari,location_sapthagiri Layout,location_sarjapura main road,location_singapura paradise,location_t.c palya,location_tc.palya,location_vinayakanagar,"location_white field,kadugodi",location_whitefiled
0,2 BHK,1056,2.0,39.07,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,4 Bedroom,2600,5.0,120.00,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,3 BHK,1440,2.0,62.00,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,3 BHK,1521,3.0,95.00,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2 BHK,1200,2.0,51.00,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [317]:
df_encoded['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [318]:
df_encoded['total_sqft'].value_counts()

total_sqft
1200    843
1100    221
1500    204
2400    195
600     180
       ...
5985      1
3580      1
2461      1
1437      1
4689      1
Name: count, Length: 2067, dtype: int64

In [319]:
df_encoded[df_encoded['total_sqft'].str.contains('-')]

,size,total_sqft,bath,price,location_ Anekal,location_ Banaswadi,location_ Basavangudi,location_ Bhoganhalli,location_ Devarabeesana Halli,location_ Devarachikkanahalli,...,location_rr nagar,location_sankeswari,location_sapthagiri Layout,location_sarjapura main road,location_singapura paradise,location_t.c palya,location_tc.palya,location_vinayakanagar,"location_white field,kadugodi",location_whitefiled
30,4 BHK,2100 - 2850,4.0,186.000,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
122,4 BHK,3067 - 8156,4.0,477.000,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
137,2 BHK,1042 - 1105,2.0,54.005,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
165,2 BHK,1145 - 1340,2.0,43.490,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
188,2 BHK,1015 - 1540,2.0,56.800,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12975,2 BHK,850 - 1060,2.0,38.190,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12990,3 BHK,1804 - 2273,3.0,122.000,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13059,2 BHK,1200 - 1470,2.0,72.760,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13265,2 BHK,1133 - 1384,2.0,59.135,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13299,4 BHK,2830 - 2882,5.0,154.500,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [321]:
import re

# Assuming you have a DataFrame called 'df' with a column 'total_sqft'
# Replace 'total_sqft' with the actual column name in your DataFrame

# Function to convert various formats to single values
def convert_to_single(value):
    # Regular expression to match numeric values and units
    pattern = r'(\d+(\.\d+)?)\s*([a-zA-Z]+)?'
    
    match = re.match(pattern, str(value))
    if match:
        numeric_part, _, unit = match.groups()
        
        # Conversion factors for different units to Sq. Feet
        conversion_factors = {'Sq. Meter': 10.764, 'Perch': 272.25, 'Sq. Yards': 9}
        
        # Convert to Sq. Feet using the appropriate conversion factor
        return float(numeric_part) * conversion_factors.get(unit, 1)
    else:
        return float(value)

# Apply the function to the 'total_sqft' column
df_encoded['total_sqft'] = df_encoded['total_sqft'].apply(convert_to_single)

In [322]:
df_encoded.head()

,size,total_sqft,bath,price,location_ Anekal,location_ Banaswadi,location_ Basavangudi,location_ Bhoganhalli,location_ Devarabeesana Halli,location_ Devarachikkanahalli,...,location_rr nagar,location_sankeswari,location_sapthagiri Layout,location_sarjapura main road,location_singapura paradise,location_t.c palya,location_tc.palya,location_vinayakanagar,"location_white field,kadugodi",location_whitefiled
0,2 BHK,1056.0,2.0,39.07,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,4 Bedroom,2600.0,5.0,120.00,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,3 BHK,1440.0,2.0,62.00,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,3 BHK,1521.0,3.0,95.00,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2 BHK,1200.0,2.0,51.00,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [324]:
def extract_numeric_from_size(value):
    # Regular expression to match numeric values
    pattern = r'(\d+(\.\d+)?)'
    
    match = re.search(pattern, str(value))
    if match:
        return float(match.group())
    else:
        return None  # Handle cases where no numeric part is found

# Apply the function to the 'size' column
df_encoded['size'] = df_encoded['size'].apply(extract_numeric_from_size)

In [326]:
df_encoded.head()
df_encoded.dropna(inplace=True)
new_df=df_encoded

In [327]:
print(new_df.isnull().sum())

size                             0
total_sqft                       0
bath                             0
price                            0
location_ Anekal                 0
                                ..
location_t.c palya               0
location_tc.palya                0
location_vinayakanagar           0
location_white field,kadugodi    0
location_whitefiled              0
Length: 1309, dtype: int64

In [328]:
new_df.head()

,size,total_sqft,bath,price,location_ Anekal,location_ Banaswadi,location_ Basavangudi,location_ Bhoganhalli,location_ Devarabeesana Halli,location_ Devarachikkanahalli,...,location_rr nagar,location_sankeswari,location_sapthagiri Layout,location_sarjapura main road,location_singapura paradise,location_t.c palya,location_tc.palya,location_vinayakanagar,"location_white field,kadugodi",location_whitefiled
0,2.0,1056.0,2.0,39.07,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,4.0,2600.0,5.0,120.00,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,3.0,1440.0,2.0,62.00,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,3.0,1521.0,3.0,95.00,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2.0,1200.0,2.0,51.00,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [329]:
x=new_df.drop('price',axis=1)
y=new_df['price']

In [337]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x, y ,test_size=0.2,random_state=10)

In [336]:
y.head()

0     39.07
1    120.00
2     62.00
3     95.00
4     51.00
Name: price, dtype: float64

In [338]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [339]:
model.score(x_test,y_test)

-5.784001733812936e+16

In [333]:
y_pred=model.predict(x_test)

In [334]:
from sklearn.metrics import mean_squared_error, r2_score
from math import sqrt
rmse = sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)
print(f'Root Mean Squared Error (RMSE): {rmse}')
print(f'R-squared (R2) Score: {r2}')

Root Mean Squared Error (RMSE): 7277113711.93848
R-squared (R2) Score: -2527858036364547.5

In [335]:
from sklearn.model_selection import cross_val_score
cv_scores = cross_val_score(model, x, y, cv=5, scoring='r2')

In [289]:
print(f'Mean R-squared score: {cv_scores.mean()}')

Mean R-squared score: -42461722631761.016